<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>GLKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>104</integer>
			</dict>
			<key>NBNoteTakingSessionAllowHighlighterConversionKey</key>
			<false/>
			<key>NBNoteTakingSessionBundleVersionNumberKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>100</integer>
			</dict>
			<key>NBNoteTakingSessionHandwritingLanguageKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>101</integer>
			</dict>
			<key>NBNoteTakingSessionIsHighlighterBehindTextKey</key>
			<true/>
			<key>NBNoteTakingSessionMinorVersionNumberKey</key>
			<integer>4</integer>
			<key>NBPaperMajorVersionNumber</key>
			<integer>1</integer>
			<key>NBPaperMinorVersionNumber</key>
			<integer>1</integer>
			<key>contentPlaybackEventManager</key>
			<dict>
				<key>CF$UID</key>
				<integer>102</integer>
			</dict>
			<key>creationDate</key>
			<dict>
				<key>CF$UID</key>
				<integer>97</integer>
			</dict>
			<key>isReadOnly</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>96</integer>
			</dict>
			<key>packagePath</key>
			<dict>
				<key>CF$UID</key>
				<integer>96</integer>
			</dict>
			<key>paperIndex</key>
			<integer>12</integer>
			<key>paperLineStyle</key>
			<integer>5</integer>
			<key>richText</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>sessionFormatVersion</key>
			<integer>5</integer>
			<key>subject</key>
			<dict>
				<key>CF$UID</key>
				<integer>99</integer>
			</dict>
			<key>tags</key>
			<dict>
				<key>CF$UID</key>
				<integer>95</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>94</integer>
			</dict>
			<key>Handwriting Objects</key>
			<dict>
				<key>CF$UID</key>
				<integer>37</integer>
			</dict>
			<key>Handwriting Overlay</key>
			<dict>
				<key>CF$UID</key>
				<integer>38</integer>
			</dict>
			<key>NBAttributedBackingString</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>attributedString</key>
			<dict>
				<key>CF$UID</key>
				<integer>82</integer>
			</dict>
			<key>didBecomeReflowable</key>
			<true/>
			<key>formatVersion</key>
			<integer>4</integer>
			<key>mediaObjects</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>pageLayoutArray</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>pdfFiles</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>recordingTimestampString</key>
			<dict>
				<key>CF$UID</key>
				<integer>89</integer>
			</dict>
			<key>reflowState</key>
			<dict>
				<key>CF$UID</key>
				<integer>49</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
			<key>assetsIdKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>captionFieldText</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>captionFontColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>captionFontColorCrossPlatform</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>captionFontName</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>captionFontSize</key>
			<real>18</real>
			<key>captionIsUnderlined</key>
			<false/>
			<key>contentSnapshot</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>documentContentOrigin</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>documentOrigin</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>figure</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>handwritingZIndecesKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>indexable</key>
			<false/>
			<key>isCaptionEnabled</key>
			<false/>
			<key>maxDimension</key>
			<real>1024</real>
			<key>minDimension</key>
			<real>10</real>
			<key>recordingEventID</key>
			<integer>-1</integer>
			<key>rotationDegrees</key>
			<real>0.0</real>
			<key>textWrapMode</key>
			<integer>1</integer>
			<key>unscaledContentSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>zIndex</key>
			<integer>0</integer>
		</dict>
		<string>{216.13749861717233, 144.09166574478149}</string>
		<string>{143.90749385442658, 61.298998718261728}</string>
		<string>{143.90749385442658, 61.298998718261728}</string>
		<string>HelveticaNeue</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>4</integer>
			<key>NSWhite</key>
			<data>
			MA==
			</data>
			<key>UIAlpha</key>
			<real>1</real>
			<key>UIColorComponentCount</key>
			<integer>2</integer>
			<key>UISystemColorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>UIWhite</key>
			<real>0.0</real>
		</dict>
		<string>blackColor</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>UIColor</string>
				<string>NSObject</string>
			</array>
			<key>$classhints</key>
			<array>
				<string>NSColor</string>
			</array>
			<key>$classname</key>
			<string>UIColor</string>
		</dict>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,1.000000000000000</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.bytes</key>
			<data>
			QkU4QjQzN0YtQzk4Ni00NDQwLUE0NDQtNjlBNTJDQkI4M0Uz
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableString</string>
				<string>NSString</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableString</string>
		</dict>
		<dict>
			<key>$0</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>FigureBackgroundObjectKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>FigureCanvasSizeKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>FigureCropRectKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>FigureObjectTypeKey</key>
			<integer>1</integer>
			<key>kFigurePrimitiveObjectsArrayKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
		</dict>
		<string>{{0, 0}, {3000, 2000}}</string>
		<data>
		JbPlSAUAAAAAAQEBAQAAAAAAAAAAAAAAAAAAAAAAAAAAAHCnQAAAAAAAAAAA
		AAAAAABwp0AAAAAAAECfQAAAAAAAAAAAAAAAAABAn0AAAAAAAAAAAAAAAAAA
		AAAA
		</data>
		<string>{0, 0}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
			<key>fillAlpha</key>
			<real>1</real>
			<key>fillColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>fillColorCrossPlatform</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>kImageObjectSnapshotKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>rect</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
			<key>strokeAlpha</key>
			<real>1</real>
			<key>strokeColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>strokeColorCrossPlatform</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>strokeWidth</key>
			<real>1</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>4</integer>
			<key>NSWhite</key>
			<data>
			MA==
			</data>
			<key>UIAlpha</key>
			<real>1</real>
			<key>UIColorComponentCount</key>
			<integer>2</integer>
			<key>UIWhite</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>4</integer>
			<key>NSWhite</key>
			<data>
			MCAw
			</data>
			<key>UIAlpha</key>
			<real>0.0</real>
			<key>UIColorComponentCount</key>
			<integer>2</integer>
			<key>UIWhite</key>
			<real>0.0</real>
		</dict>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,1.000000000000000</string>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,0.000000000000000</string>
		<string>{{0, 0}, {0, 0}}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
			<key>relativePath</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>saveAsJPEG</key>
			<true/>
		</dict>
		<string>Images/Image 1.jpg</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>GLSnapshot</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>GLSnapshot</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>ImageObject</string>
				<string>DrawObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>ImageObject</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>Figure</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>Figure</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
			<key>relativePath</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>saveAsJPEG</key>
			<true/>
		</dict>
		<string>Images/Image .jpg</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>ImageMediaObject</string>
				<string>GenericMediaObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>ImageMediaObject</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
			<key>SpatialHash</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>bezierPathsDataDictionary</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>curvescolors</key>
			<data>
			AG///wBv//8Ab///AG///wBv//8Ab///AG///wBv//8Ab///AG//
			/w==
			</data>
			<key>curvesfractionalwidths</key>
			<data>
			/RtBP44FqD84gsI/yyHQP9mtzj/ndtw/zXD4P/h3/j+OowBAIAsC
			QPlIBUDShghAVezuP7PBxz+jxs0/sN7WP7723z9oQQBAFUcKQOlE
			D0ApDRNArjUfQPPLKUB6Ni1A2MMsQIroK0AGZy9ABJcyQBPxM0De
			KzVAxfolQDliHkCtyRZA987wP57vBz/9G0E/2NUkP7JmJT8fryU/
			jPclP/g/Jj9liCY/PxknP/0bQT+Ui2Y/lf2FP3Khkz/6P4c/q3gn
			P/0bQT8xSCU/tMMqP2SYST9rbZ4/HVO4P0mTuT8bb7w/oZ9tP7IK
			Wz87wFE/xHVIP+dLIz+e7wc//RtBP/0bQT++H34/RJaCPyudYj83
			BUI/PbkxP0CTKT9CbSE/nu8HP/0bQT/NhSQ/QmAdP7Y6Fj/G0i8/
			3KeGPxfHkT8sLqQ/uh24Px+tuz8jWMw/j/LXPyxW3j8hvuA/n8bk
			P1nZ8T/effU/tGr4P0t4BkC7KAZAiVAOQJB5EUD5fw9A1moPQNZq
			D0DWag9A1moPQPlMBkALvgFAOF76P3R/6z+woNw/KeO+Pxpogz+e
			7wc//RtBP/0bQT9x9jk/5dAyP1mrKz/NhSQ/nu8HP/0bQT84yTU/
			dHYqP112jD9hE5g/24mZP6LXgz+t6XM/51yHP3NUjT//S5M/jKyW
			P1vAkT9DSo8/K9SMPyL1hz+UAIE/fHOBPwqLkz9TVZw/kf+jP4GT
			nT9o6pE/9DqFP49vfj+ZB40/q5GrP1LeuT85lrw/QEC/P2epmj/t
			rmw/x7BSP57vBz/9G0E/zYUkPy9nMj+RSEA/VQtcPxDRcz/7J4I/
			+QuYP40rpT8ltak/yxWqP18TsD9xN8E/Z9bQPxzl2D/xEN0/l+zf
			P8FB8z9MwgBALSwIQBREDEAVOg1AUooOQJfvCUC1XQBA0OX8P3bX
			+T8dyfY/JbjzP+Pj8T8tc+0/hWe8PwhTsj+e7wc//RtBP82FJD+2
			OhY/xrV2P3R5ij+0SJ4/qDuzP39Yzj9sXNo/V8f4P0FHDkBEOxJA
			LGMSQCd8C0BNIQNATvUAQMI2+z9GdvA/fFfeP6rN1D+SH9M/t7/e
			P/UW7j+WMwRAExwQQB16EkCpuhJA6PkNQD5mDEAEbQtADfTqP3Gh
			4j9p99s/2UWTP57vBz8=
			</data>
			<key>curvesnumpoints</key>
			<data>
			ZwAAABYAAAAQAAAAKAAAABwAAABnAAAAEwAAAGQAAABkAAAAZwAA
			AA==
			</data>
			<key>curvespoints</key>
			<data>
			WI+LQSqwOUL1vIpB3xA3QmqjkEEKszFCvVKVQYz2KkLe6ZZBlUQo
			Qu5VmEGdXCVCzU+aQRvFIUL9DpxBG8MeQmcvnkHgSxtCvbmgQfVY
			F0Jpt6RBOhURQlegqUFnrQlCS1auQd6iAkLS/LhBVEjlQaEgwEGT
			/cxBve7CQVNmvkHlOcRBeTm3QaQLxUH63bFBOP/FQUm5rUF4ncZB
			xB+rQaxGx0F48KhBC/7HQcOTp0GKRMhBSNCmQduLyEHXJKZBWNLI
			QQ2npUHVGMlBQymlQXxeyUEg2aRBpqHJQULMpEEpWcpBYnilQaLp
			ykETQ6hB7VzLQWOmrEE50MtBsgmxQVgmzEGgBbdBKGnMQToUvkEp
			58xBhv7YQZDNz0GKlwVCKNDXQfcHGUL0yttBWRwjQrdH30Fc8StC
			em7iQTsVMUKsRuNBGLsyQvYk5EGq9TNC+zXlQdKwNEK6IOZBuig1
			QtIg50GuajVCLiHoQTt2NUKKIelByIE1Qioi6kHvVjVC+A3rQTz1
			NEL3yexB3bkzQrUG7kGPQjFCU4vvQSOSLkKT5PFBjFgrQjrX9EFo
			kCdCy3P4QXLkIkL18fpBdIgfQhnL/UH5qhtCIq4AQsA2F0JdWQNC
			SNUQQom6BkIkaQlCk98JQnReAkKhqg1C7W/zQYO/EELvGuRBXHUT
			QvSO1kGn5hVC50zKQRJwGELVNr5BltUaQvRZtEFSdhtCT9ixQcYS
			HEIBfK9BaqccQrJKrUEOPB1CYxmrQeHIHUITE6lBWUoeQmY9p0HR
			yx5CuWelQe5BH0KwwqNBJakfQvBTokFcECBCMeWgQa1oIEK7rJ9B
			j64gQjSwnkF/0SBC8TGeQdTvIEKpwp1BGwkhQhJjnUFjIiFCewOd
			QZ02IUKUs5xBWEUhQhJ0nEEUVCFCkTScQVBdIUJ1BZxBnWAhQnLn
			m0FEYiFCcdibQW5iIUK2zZtBDmEhQlnHm0FfYCFCKsSbQUxfIUIS
			wptB1l0hQhXBm0FfXCFCF8CbQYRaIUI0wJtBQ1ghQm3Bm0E+TyFC
			VMabQdk/IUII3ZtBoSkhQkAGnEFpEyFCeC+cQV72IEIza5xBENIg
			Qie6nEGMuR9CDfqeQW+9H0Kr/Z5Bt8AfQmb9nkFkwx9C//ueQWXF
			H0Lx+p5BEMcfQkH5nkFkyB9CFvieQQ7JH0KB955BoskfQg33nkEg
			yh9C4PaeQZ/KH0Kz9p5BB8sfQs32nkFayx9CUveeQa3LH0LX955B
			6ssfQsn4nkESzB9CS/qeQTnMH0LN+55BS8wfQuD9nkFGzB9CqQCf
			QT7MH0I7Bp9B38sfQqYOn0Epyx9CEhufQYaNH0KL6Z5BqYofQpPx
			nkG6hx9CxvWeQfSEH0II955BLoIfQkn4nkGQfx9CmfaeQVZ9H0Le
			8p5B4ngfQmbrnkH8dR9CvtueQXl2H0IMy55B9nYfQlu6nkHXeh9C
			oKieQfGDH0IEnZ5BCo0fQmiRnkFdmx9C6oueQb6wH0Kxk55BekAf
			QovpnkGqOB9CP/SeQVEvH0JR/55B7CQfQmkLn0GHGh9CgRefQRYP
			H0KgJJ9BEgMfQm4zn0EP9x5CO0KfQXnqHkK4Up9Bzd0eQo5ln0Eh
			0R5CY3ifQV7EHkKRjZ9B/7ceQsGln0FVhh5COUWgQfJlHkL6TKFB
			u0ceQokzokGUMh5CNauiQfgdHkKOGKNBGQoeQm16o0HiAB5CHqWj
			Qcv3HUITzqNBQ+8dQunzo0Gr1R1Ca2WkQRzBHULRuqRBaL0dQpTO
			pEEZvR1COdCkQei8HUJq0aRB1rwdQiHSpEHOvB1CfNKkQc28HUK5
			0qRB1LwdQtfSpEHcvB1C9NKkQeu8HULy0qRBA70dQtHSpEFjvR1C
			StKkQUm+HULEz6RBwr8dQhLLpEGbyB1C6K6kQUDmHUKZRKRBgyQe
			Qp1mo0Ff4x9CK2maQU3IH0Lt7ppBe5ofQhqYm0EOYx9COVScQewP
			H0Jpbp1BL6ceQjuznkG7Rx5CGOufQYvgHULiVqFB+4odQvuXokGX
			VR1CcpujQZo3HUKGPqRBuCEdQkvNpEEoGh1C3ROlQW0VHUJgL6VB
			/REdQllFpUGbEB1CDlOlQekPHULoWaVBuw8dQrJepUEpEB1CE2Gl
			QWAQHUJEYqVBvhAdQttipUFGER1CzWKlQc0RHUK+YqVBfxIdQgti
			pUFeEx1CqGClQc8dHUIFUKVBk0EdQnvcpEE6kx1Cd7yjQd+QJEI2
			DDdCTookQpAWN0LhhiRCdB43QguGJEIOJDdCoIUkQtsmN0LbhSRC
			FSk3QqqGJELCKjdCeYckQm8sN0LdiCRCjy03QsKKJEInLjdCjo4k
			QlYvN0JklCRCZi43QrabJEKAKzdCCaMkQpsoN0LZqyRCwCM3Qpm1
			JEIbHTdCWb8kQnUWN0IJyiRCBQ43Qh3VJEL2AzdCz/MkQk3ZNkLJ
			FyVCS5M2QpM8JUK+RzZCQLQlQtBvNUIhMiZCl1s0QgXhJkLT0jJC
			SjMnQlgaMkJ0iydCnEwxQpHiJ0IigjBCeV0oQpBmL0LdyShC1Wku
			Qiw8KUJOSi1CaMspQuPkK0KqiipCOhcqQkU/K0LTayhC870rQoRA
			J0KqJixCtEMmQhGQLEKBRCVCQdwsQtKKJEKSLC1CDssjQp6RLUKN
			6yJCwg4uQvfcIUKHoS5CDqggQnQkL0INkR9CqsEvQoU9HkJSQjBC
			oBkdQuGnMELhExxC+dkwQk+IG0JIBjFCdwMbQixEMULibhpC/+4x
			Qiv4GEIF9TJCry8XQruuM0JPmhVCYUo0QrI3FEIcqzRCZgkTQlsp
			NUIJvxFCfow1QqvEEEJxBDZC8p8PQsGANkKNhQ5CvgY3Qg1ODULN
			dDdCC0cMQijYN0L6VQtCIWY4QhrzCUKdOjlCzUgIQt/3OUJ9vgZC
			lWo6QinIBUJKxDpCIewEQggLO0L2OARC+zU7QvDEA0IFWjtC0mED
			Qkx7O0JkFgNCfIQ7Qi0CA0J0jTtCCu8CQtOVO0K73QJCMZ47QmzM
			AkL2pTtC8bwCQsCsO0IJsAJCirM7QiGjAkJZuTtCzJgCQsy9O0LJ
			kQJCBcA7QkiOAkLnwTtCm4sCQmXDO0LbiQJCJMQ7QvqIAkLLxDtC
			VYgCQlfFO0LuhwJC48U7QoeHAkJVxjtCX4cCQqrGO0J3hwJC1cY7
			QoOHAkL5xjtCn4cCQhbHO0LNhwJCM8c7QvqHAkJIxztCN4gCQlbH
			O0KGiAJCc8c7QiOJAkJyxztCBYoCQlLHO0IuiwJCEsc7Qn+NAkJX
			xjtC7JACQhPFO0KOlQJCjMI7QtKeAkLlvTtC5qwCQry2O0KLwAJC
			aT5EQn934UHjF0RCvnThQSQBREK+dOFBK/pDQn934UFM+UNC13fh
			Qaz4Q0I6eOFBS/hDQqh44UHr90NCFnnhQcn3Q0KPeeFB5vdDQhN6
			4UED+ENCl3rhQWD4Q0Ime+FB+/hDQsB74UGX+UNCWnzhQXL6Q0L/
			fOFBi/tDQq994UHz/0NCcIDhQUsIRELgg+FBlhREQgGI4UEjFkVC
			wdrfQeT/REIAwt9BpOlEQjS030Hx1ERCfrPfQT/ARELIst9BGa1E
			Qim/30EQnURCwdrfQSSVREKX799BFY5EQp0I4EEeiERCOyTgQS98
			REJ2W+BBn3REQhGd4EE9c0RCTtzgQT9tRELKO+FB33FEQkGb4UHa
			hERCWM3hQemrREK/2uFB0uBEQkS74UFUDUVCf3fhQZc6RULT4uBB
			JltFQvoK4EGkUUVCiY3fQUNPRUIsbt9BQkpFQnZU30EpQkVC3ULf
			QdssRUJkMN9BHxFFQkMy30Hq8ERCWE/fQbbQREJsbN9BCaxEQrak
			30HahERCE//fQZdXREIZROBBIS5EQqul4EHHC0RCIhHhQVzoQ0Iy
			fOFBsMpDQsnr4UETu0NCNEniQUWzQ0Lpd+JB+65DQhSi4kE+r0NC
			3MTiQYKvQ0Kl5+JBU7RDQg0D40G8vkNCPBTjQUfpQ0LKHeNB6CBE
			QnQM40HTWERCaN/iQZ+kREIPmOJBLvlEQsgD4kFbOUVC/GbhQT6E
			RUJxu+BBh71FQnkG4EEIuUVCOanfQWquRULHoN9BJaBFQvud30EW
			j0VCGaDfQdhKRUKSqN9B69lEQqT/30E9c0RC8nXgQbYIREK8+OBB
			Z6lDQs6f4UF/ekNChEfiQcJbQ0JRmeJBVkRDQrf04kHcPENCk1nj
			QXpjQ0LnZONByJtDQrVT40Hz1kNCvyTjQdX/Q0Jv/uJBHS9EQgWr
			4kHTWERChEfiQUSJREJw1OFBka9EQpBR4UEDwERCWejgQfnKREI1
			ouBBOcxEQndn4EFJwERCakTgQcV8RELuP+BBK+tDQnnX4EGwcUNC
			f3fhQaw1Q0KXxeFB0AJDQt0T4kEC50JCB1jiQVfbQkIjdeJBudFC
			QjCR4kGyykJCH6viQavDQkIOxeJBOr9CQt7c4kHmvUJCfvHiQZK8
			QkIeBuNBW75CQo4X40HKw0JCvyTjQXD4QkKeNONBL05DQrQe40FS
			pENCaN/iQR3WQ0IGvOJBKQpEQmGI4kFUPERCOUTiQX9uREIRAOJB
			y55EQmar4UEXyURC90XhQRJRckK466hB2lRyQsvUqEHRU3JCOsOo
			QdFOckLYtqhB0UlyQneqqEHaQHJCRaOoQcY0ckIXoahBsihyQuie
			qEGBGXJCvKGoQQwIckJnqahBI+VxQry4qEEsuXFCatuoQfWKcUIL
			EKlBfChxQoGpqUEUu3BCX7OqQS9mcEKGmqtBSSZwQpo7rEH5729C
			RdesQXy6b0KafK1BFYluQpTwsEE9y2xCX/S3QQM5a0KIaMBBrqRp
			Qsa/yEE6FWhCRx3RQcLaZkLw19lBKhZmQlhZ30G6PWVCnGblQWRn
			ZEJ8jetB8/5jQrRw7kGEk2NC1GPxQdE5Y0KRJPRBFbxiQmsk+EGr
			bGJCVa/7QQsVYkJ0av9BNmZhQuJWA0LNjWBCnyYHQlUAYEItaApC
			cZlfQp3kDEKpfF9CECoPQnBdX0KzlRFCUUZfQvNGE0L8JV9CPyMV
			Qsj+XkJ3BRdCb+ZeQiYXGEL0zV5CSCcZQibBXkJGHBpCHrheQoAy
			G0JvvV5CZyIcQibBXkKsGB1CdrNeQqDOH0Ikql5CEZYiQj5mX0Kk
			6SRC0RRgQnb2JkKqPWFCcAMpQlvSYkKVjCpCoqFjQl1JK0KreWRC
			EeQrQh4/ZUIDbSxC4WJmQnNNLUJdMWdCgxcuQi9eaEJyTS5CAc1o
			QlZjLkLSTWlCAmcuQpzhaUJyTS5C0shqQlUSLkLP32tCi5QtQt/3
			bEL4IC1CyMVuQk59LEJOgnBCJxYsQmTGcUJQwStC3gJyQvGyK0KW
			OnJC7KQrQqFuckIplitCp4hyQsiOK0LAoXJCOIcrQhK6ckJWfytC
			Y9JyQnR3K0Lr6XJCP28rQs0Ac0KWZitCrxdzQu1dK0LqLXNC0FQr
			QqJDc0IbSytCWllzQmZBK0KObnNCGTcrQmGDc0ISLCtCM5hzQgsh
			K0KlrHNCShUrQtfAc0KrCCtCCtVzQg38KkL96HNCku4qQtX8c0IX
			4CpChCR0QiDDKkLCS3RCKqIqQqNzdEIffCpCk4d0QhlpKkKtm3RC
			zlQqQhGwdEIbPypCdsR0QmgpKkIm2XRCTBIqQkPudEKm+SlCyeiY
			QiAMBkLzBJlC3L0FQgYYmUIjZwVC5SCZQsIQBUIcI5lCKfsEQrEk
			mUKX5QRCnSWZQi3QBEJQKZlChXoEQocimUJpJwRCJxCZQqffA0Je
			AplC1qkDQhHumEJnegNCxdKYQhJVA0Inn5hCKA8DQudPmEJT6QJC
			ONGXQlD1AkJWkJdCH/ACQiZDl0LJ9gJC/OiWQvwXA0LTSJZCBG4D
			QmKBlUJ1DQRCDrGUQn3NBELAMpRCs0AFQhiyk0ILvwVCbzaTQk4/
			BkJSppFCotwHQgpYkEKBiwlCwmGPQh37CkLzbo5CaV0MQmzhjUK3
			bA1C44yNQvm7DkKbaY1CeD0PQnZPjUJnyQ9C1z+NQntxEEL3I41C
			MYARQi4ejUJxzxJCPkSNQv4zFEIHYo1CHCsVQkiUjUKoKRZCodaN
			QrgNF0Jyj45ChUYZQlPXj0IgqhpC1C2RQuMvHELkx5FCAOQcQjRh
			kkKFpB1CmPaSQpWAHkJ8jJNCI2gfQmMflEIdaiBCP6iUQnhsIUK7
			/ZRCJwwiQt9PlUKwrCJCSpmVQqVEI0KP9pVCk/0jQrJElkLIpyRC
			hoGWQkFYJUL+5pZCe6kmQvwSl0KxFyhCUBiXQp5wKUI+HJdCsRIq
			QuEZl0JDsCpCgg+XQkg4K0Iz95ZC508sQqO3lkIp9CxCST2WQk9m
			LUIKDZZCQpUtQpTRlUKjui1CYISVQtTeLUL19ZRCDykuQqI0lEKs
			cC5C2VCTQo2rLkKHl5JCOdwuQqjIkUIGBC9CZfKQQtEbL0JUHJBC
			DCcvQqU+j0L8IS9CNWCOQhMkL0LRuo1CQysvQusVjUI1Ni9CBXKM
			Qr1GL0KIx4tC110vQgYei0K0ei9CVH6KQleUL0JhSYpC8aAvQp4V
			ikJorS9CV+OJQtu4L0IQsYlCTcQvQkWAiUK7zi9CRlGJQkPXL0JH
			84hCUugvQnOciELJ8S9COU+IQpvsL0KdKIhCBeovQmcEiELF4y9C
			5eKHQvvYL0JkwYdCMc4vQpeih0Lcvi9CzYaHQhyqL0I5T4dCm4Av
			Qq8jh0JrQS9CnwaHQn/lLkIX+IZCircuQi7thkJlgi5CMeaGQjBF
			LkI=
			</data>
			<key>curvesstyles</key>
			<data>
			AwMDAwMDAwMDAw==
			</data>
			<key>curveswidth</key>
			<data>
			mplCP5mZQj+ZmUI/mZlCP5mZQj+ZmUI/mZlCP5mZQj+ZmUI/mZlC
			Pw==
			</data>
			<key>eventTokens</key>
			<data>
			////////////////////////////////////////////////////
			/w==
			</data>
			<key>numcurves</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>numfractionalwidths</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>numpoints</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>shapes</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<integer>218</integer>
		<integer>10</integer>
		<integer>634</integer>
		<data>
		YnBsaXN0MDDTAQIDBF9kVnNoYXBlc1dpbmRpY2VzVWtpbmRzpAUjN0vUBgcI
		CQoWGRxaYXBwZWFyYW5jZVVlbmRQdFdzdGFydFB0VHJlY3TTCwwNDg8VVXN0
		eWxlW3N0cm9rZUNvbG9yW3N0cm9rZVdpZHRoEAPREBFUcmdiYaQSExQUIwAA
		AAAAAAAAIz/b29vgAAAAIz/wAAAAAAAAIz/oUzMqqqqrohcYI0B2/LQxR64W
		I0BG/LQxR64WohobI0BhPYck9cKQI0BG/LQxR64Woh0goh4fI0BhMV2LYG07
		I0BGzA3K8ljBoiEiI0Bs1DRwxERHIz/oUzMqqqqr1AYHCAkkKi0w0wsMJQ4m
		KVtzdHJva2VXaWR0aNEQJ6QSKBQUIz/b29vgAAAAIz/oUzMqqqqroissI0Bh
		PYck9cKQI0Bq0XzkKPXEoi4vI0BhPYck9cKQI0BG/LQxR64WojE0ojIzI0Bh
		MV2LYG07I0BGzA3K8ljBojU2Iz/oUzMqqqqrI0BlKqMLAbTp1AYHCAk4PkFE
		0wsMOQ46PVtzdHJva2VXaWR0aNEQO6QSPBQUIz/b29vgAAAAIz/oUzMqqqqr
		oj9AI0B2/LQxR64WI0Bq0XzkKPXEokJDI0BhPYck9cKQI0Bq0XzkKPXEokVI
		okZHI0BhMV2LYG07I0BqxVNKk6BvoklKI0Bs1DRwxERHIz/oUzMqqqqr1AYH
		CAlMUlVY0wsMTQ5OUVtzdHJva2VXaWR0aNEQT6QSUBQUIz/b29vgAAAAIz/o
		UzMqqqqrolNUI0B2/LQxR64WI0BG/LQxR64WolZXI0B2/LQxR64WI0Bq0Xzk
		KPXEollcolpbI0B29p9kfQNrI0BGzA3K8ljBol1eIz/oUzMqqqqrI0BlKqML
		AbTppGBhYmMQChALEAwQDaRlZWVlVGxpbmUACAAPABYAHgAkACkAMgA9AEMA
		SwBQAFcAXQBpAHUAdwB6AH8AhACNAJYAnwCoAKsAtAC9AMAAyQDSANUA2ADh
		AOoA7QD2AP8BCAEPARsBHgEjASwBNQE4AUEBSgFNAVYBXwFiAWUBbgF3AXoB
		gwGMAZUBnAGoAasBsAG5AcIBxQHOAdcB2gHjAewB7wHyAfsCBAIHAhACGQIi
		AikCNQI4Aj0CRgJPAlICWwJkAmcCcAJ5AnwCfwKIApEClAKdAqYCqwKtAq8C
		sQKzArgAAAAAAAACAQAAAAAAAABmAAAAAAAAAAAAAAAAAAACvQ==
		</data>
		<dict>
			<key>$classname</key>
			<string>InkedSpatialHash</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>HandwritingObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>HandwritingObject</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>nativeLayoutDeviceStringKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>50</integer>
			</dict>
			<key>pageWidthInDocumentCoordsKey</key>
			<real>583.79998779296875</real>
		</dict>
		<string>iPad</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NBReflowStateLocked</string>
				<string>NBReflowState</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NBReflowStateLocked</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>81</integer>
			</dict>
			<key>NBAttributedBackingStringCodingKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>53</integer>
			</dict>
			<key>NBAttributedLayoutStringCodingKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>74</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>56</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
			</array>
		</dict>
		<string>stringKey</string>
		<string>subRangesKey</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.bytes</key>
			<data>
			CgoKCgoKCgoKCgoKCg==
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>58</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>63</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>64</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>66</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>73</integer>
				</dict>
			</array>
		</dict>
		<string>subRangeColorCrossPlatformKey</string>
		<string>subRangeRangeKey</string>
		<string>subRangeFontKey</string>
		<string>subRangeOtherAttributesKey</string>
		<string>subRangeColorKey</string>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,1.000000000000000</string>
		<string>{0, 13}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>67</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>68</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>69</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<string>NSFontSizeAttribute</string>
		<string>NSFontNameAttribute</string>
		<integer>12</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>71</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>72</integer>
				</dict>
			</array>
		</dict>
		<string>NSUnderline</string>
		<integer>0</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>2</integer>
			<key>NSRGB</key>
			<data>
			MCAwIDA=
			</data>
			<key>UIAlpha</key>
			<real>1</real>
			<key>UIBlue</key>
			<real>0.0</real>
			<key>UIColorComponentCount</key>
			<integer>4</integer>
			<key>UIGreen</key>
			<real>0.0</real>
			<key>UIRed</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>76</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.bytes</key>
			<data>
			CgoKCgoKCgoKCgoKCg==
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>63</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>78</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>66</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>79</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>80</integer>
				</dict>
			</array>
		</dict>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,1.000000000000000</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>71</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>72</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>2</integer>
			<key>NSRGB</key>
			<data>
			MCAwIDA=
			</data>
			<key>UIAlpha</key>
			<real>1</real>
			<key>UIBlue</key>
			<real>0.0</real>
			<key>UIColorComponentCount</key>
			<integer>4</integer>
			<key>UIGreen</key>
			<real>0.0</real>
			<key>UIRed</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NBAttributedString</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NBAttributedString</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>83</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>84</integer>
				</dict>
			</array>
		</dict>
		<string>












</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>85</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>63</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>86</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>66</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>87</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>88</integer>
				</dict>
			</array>
		</dict>
		<string>0.000000000000000,0.000000000000000,0.000000000000000,1.000000000000000</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>71</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>72</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>2</integer>
			<key>NSRGB</key>
			<data>
			MCAwIDA=
			</data>
			<key>UIAlpha</key>
			<real>1</real>
			<key>UIBlue</key>
			<real>0.0</real>
			<key>UIColorComponentCount</key>
			<integer>4</integer>
			<key>UIGreen</key>
			<real>0.0</real>
			<key>UIRed</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>90</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>91</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.bytes</key>
			<data>
			CgoKCgoKCgoKCgoKCg==
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>92</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>93</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>65</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.keys</key>
			<array/>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FormattedString</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FormattedString</string>
		</dict>
		<string></string>
		<string>Very Simple Test</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>98</integer>
			</dict>
			<key>NS.time</key>
			<real>610376396.54581904</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDate</string>
		</dict>
		<string>unsortedNotesKey</string>
		<string>9.3.4</string>
		<string>de_DE</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>103</integer>
			</dict>
			<key>NBCPTimeManagerSOADurationsKey</key>
			<data>
			</data>
			<key>NBCPTimeManagerSOAEventIDsKey</key>
			<data>
			</data>
			<key>NBCPTimeManagerSOANumEventsKey</key>
			<integer>0</integer>
			<key>NBCPTimeManagerSOARecordingIDsKey</key>
			<data>
			</data>
			<key>NBCPTimeManagerSOATimestampsKey</key>
			<data>
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NBCPEventManager</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NBCPEventManager</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NoteTakingSession</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NoteTakingSession</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>$0</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
